<link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
<link rel="stylesheet" href="~/LanchesMac.styles.css" asp-append-version="true" />

<footer class="rodape">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container">
            <div class="row">
                <div class="col-10 col-md-5 col-lg-5 offset-1" style="color: white">
                    <h4> &copy; 2023 - Tortotto</h4>
                    <p class="text-justify">
                        Aqui você encontra aquela sobremesa gostosa que da água na boca.
                        Aquele doce pós almoço e para acompanhar a sua bebida preferida.
                        E se você é vegetariano também vai encontrar sua sobremesa e bebida do seu gosto.
                    </p>
                </div>

                <div class="col-10 col-md-5 col-lg-5 offset-1" style="color: white">
                    <h4>Tem alguma dúvida ?</h4>
                    <ul class="list-unstyled">
                        <li class="py-1"> Av. Assis Brasil, 56 Setor-2 SCS</li>
                        <li class="py-1"> +55 (051)99580-4040</li>
                        <li class="py-1"> <a href="tortotto@tortotto.com" style="color: yellow">tortotto@tortotto.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</footer>