#itens {
    margin-top: 15px;
}

    #itens p img {
        border-radius: 5px;
        height: 280px;
    }

body {
    background: #FFDEAD;
}

.nomeItem a {
    text-decoration: none;
}

.imagem-container img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.imagem-container {
    overflow: hidden;
    position: relative;
}

    .imagem-container:hover img {
        transform: scale(1.1);
    }

.botao{
    display:none;
}