<link rel="stylesheet" href="~/css/indexAdm.css" asp-append-version="true" />
<link rel="stylesheet" href="~/LanchesMac.styles.css" asp-append-version="true" />

<div class="adm">
    <br />
    <img src="~/imagens/adm.jpg" alt="Área de Administração" class="marginTop1" />
    <div class="container">
        <div class="jumbotron">
            <p>
                <h2>Você entrou na área do administrador</h2>
            </p>
        </div>
        <div class="funcoes">
            <p>Você tem acesso à:</p>
            <ul>
                <li>Área de administração dos produtos;</li>
            </ul>
            <ul>
                <li>Área de administração das categorias;</li>
            </ul>
            <ul>
                <li>Área de administração dos pedidos;</li>
            </ul>
            <ul>
                <li>Vizualização dos relatótio de vendas;</li>
            </ul>
            <ul>
                <li>Vizualização de gráficos de vendas,</li>
            </ul>
            <ul>
                <li>Gerenciar imagens.</li>
            </ul>
        </div>
        <a asp-area="" asp-controller="Home" asp-action="Index">Retornar a tela inicial</a>
    </div>
</div>