<link rel="stylesheet" href="~/css/docesResumo.css" asp-append-version="true" />
<link rel="stylesheet" href="~/LanchesMac.styles.css" asp-append-version="true" />

<div class="container" id="contato">
	<div class="info-inicio">
		<div class="dados">
			<div class="jumbotron">
				<h3>Queremos ouvir o que você tem a dizer</h3>
				<p>
					Se você tiver alguma dúvida ou sugestão fale conosco
				</p>
			</div>
		</div>
	</div>
	<div class="contato">
		<div>
			<h5 class="email">
				<img src="~/imagens/icons8-nova-mensagem-24.png" />
				<span><email endereco="douglasdotto@gmail.com" conteudo="Enviar um e-mail"></email></span>

			</h5>
		</div>
		<div>
			<h5>
				<img src="~/imagens/icons8-telefone-16.png" />
				<span>(51) 99874-5566</span>
			</h5>
		</div>
		<div>
			<h5 class="casa">
				<img src="~/imagens/icons8-casa-16.png" />
				<span>R. Mal. Floriano 170 - 96810-038 - SCS</span>
			</h5>
		</div>
	</div>
</div>
